body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

/*
Allows the footer to stick to the bottom of the page.
The `min-height: 100vh;` ensures that the footer is always at the bottom of the page, 
even if the content is less than the height of the viewport. 
The `margin-top: auto;` pushes the footer to the bottom of the page, regardless of the content above it.
*/